# Virtual Environment
venv/
.venv/
env/
# Python Cache
__pycache__/
*.pyc
# IDE
.vscode/
# Output
output/

helmet_withoutyolo/dataset/
helmet_withoutyolo/V2/data/
helmet_withoutyolo/helmet-detection-system/
helmet_withoutyolo/model/

*.pt
*.zip
